{{- define "main" -}}
    <button id="printJS-button" type="button" title="Print page content" onclick="printJS({
            printable:'main-article',
            type: 'html',
            css: [ {{ .Scratch.Get "styles-link" }}, 'https://fonts.googleapis.com/icon?family=Material+Icons'],
            })">
        <i class="material-icons">print</i>
    </button>
    <article class="markdown" id="main-article">
        {{- $title := partial "title" . -}}
        {{ if or $title .Description }}
            {{ if $title }}
                {{ if .Params.icon }}
                    <i id="icon-head" class="material-icons">{{ .Params.icon }}</i>
                {{end}}
                <h1 id="title">{{ $title }}</h1>
            {{end}}
            {{if .Params.description }}
                {{ .Params.description | markdownify }}
            {{end}}
            <hr/>
        {{end}}
        {{- .Content -}}
    </article>
{{- end -}}